ul,
ol {
  list-style: none;
}

.top-menu {
  color: #F9F9FC;
  padding: 0 2rem;
  background-color: #15074e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.top-menu ul {
  display: flex;
  height: 100%;
}
.top-menu ul li {
  margin: 0.5rem 1rem;
}
.top-menu ul li form button {
  text-transform: uppercase;
  color: #F9F9FC;
  font-weight: bold;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #210f6b;
  transition: all 0.5s ease;
}
.top-menu ul li form button .fa-solid {
  margin-right: 0.5rem;
}